# Import Libraries

In [1684]:
import pandas as pd

In [1685]:
#Display all columns in DataFrame
pd.set_option('display.max_columns', None)

# Importing All DataFrames

In [1686]:
# Importing All Dimensional & Fact DataFrames

%store -r company_transformed
%store -r contact_transformed
%store -r deal_transformed
%store -r employees_transformed_df
%store -r transform_events
%store -r transform_participants

#Importing All Reference DataFrames
%store -r verticals_df
%store -r subverticals_df
%store -r currency_df
%store -r status_df
%store -r rsvp_status_df
%store -r event_status_df
%store -r preferred_contact_method_df
%store -r event_type_df
%store -r company_type_df
%store -r active_stage_df
%store -r sourcing_df
%store -r TransactionType_df

# Normalising Data Model

### Creating mapping DataFrames

In [1687]:
# Creating a dictionary for mapping DataFrames (Name -> ID)
company_dict = dict(zip(company_transformed['CompanyName'], company_transformed['Id']))
contact_dict = dict(zip(contact_transformed['ContactName'], contact_transformed['Id']))
employees_dict = dict(zip(employees_transformed_df['EmployeeName'], employees_transformed_df['Id']))
events_dict = dict(zip(transform_events['EventName'], transform_events['Id']))
participants_dict = dict(zip(transform_participants['ParticipantID'], transform_participants['Id']))

# Create a dictionary from the mapping Reference DataFrame (Name -> ID)
verticals_dict = dict(zip(verticals_df['VerticalName'], verticals_df['Id']))
subverticals_dict = dict(zip(subverticals_df['SubVerticalName'], subverticals_df['Id']))
currency_dict = dict(zip(currency_df['CurrencyName'], currency_df['Id']))
status_dict = dict(zip(status_df['StatusName'], status_df['Id']))
rsvp_status_dict = dict(zip(rsvp_status_df['RSVPStatusName'], rsvp_status_df['Id']))
event_status_dict = dict(zip(event_status_df['EventStatusName'], event_status_df['Id']))
event_type_dict = dict(zip(event_type_df['EventTypeName'], event_type_df['Id']))
preferred_contact_method_dict = dict(zip(preferred_contact_method_df['MethodName'], preferred_contact_method_df['Id']))
company_type_dict = dict(zip(company_type_df['CompanyTypeName'], company_type_df['Id']))
active_stage_dict = dict(zip(active_stage_df['ActiveStageName'], active_stage_df['Id']))
sourcing_dict = dict(zip(sourcing_df['SourceName'], sourcing_df['Id']))
transaction_type_dict = dict(zip(TransactionType_df['TransactionTypeName'], TransactionType_df['Id']))

### Companies - Target Data

In [1688]:
# Trim all string values
company_transformed = company_transformed.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [1689]:
# Normalizing company_transformed DataFrame
company_transformed['CompanyTypeId'] = company_transformed['CompanyTypeId'].replace(company_type_dict)
company_transformed['VerticalId'] = company_transformed['VerticalId'].replace(verticals_dict)
company_transformed['SubVerticalId'] = company_transformed['SubVerticalId'].replace(subverticals_dict)
company_transformed['CurrencyId'] = company_transformed['CurrencyId'].replace(currency_dict)

In [1690]:
company_transformed

,Id,CompanyName,CompanyTypeId,PrivateEquityCompanySectors,PrivateEquityPortfolioCompanies,VerticalId,SubVerticalId,NumberOfEmployees,LTMRevenue,LTM EBITA,CurrencyId,EnterpriseValue,YearFounded,ParentCompany,AssetsUnderManagement,AddressLine1,AddressLine2,City,PostCode,Country,Website,AdditionalDescription,CreatedAt,CreatedBy,UpdatedAt,UpdatedBy
0,COM_001,100% employee owned (ESOP),3,,,,,,,,,,,,,,,,,,,,,,,
1,COM_002,3i,3,,,,,,,,,,,,,,,,,,,,,,,
2,COM_003,5-Hour Energy,1,,,2,26,,,265.0,,,,,,,,,,,,,,,,
3,COM_004,A Place for Mom,1,,,1,21,,,,,269,,,,,,,,,,,,,,
4,COM_005,ABC Billing,1,,,1,3,,,,,,,,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,COM_597,Zoë's Kitchen,1,,,2,27,,,30.8,,346.5,,,,,,,,,,,,,,
597,COM_598,iCracked Inc.,1,,,2,27,,,50.0,,,,,,,,,,,,,,,,
598,COM_599,iHerb,1,,,2,26,,,,,,,,,,,,,,,,,,,
599,COM_600,littleBits,1,,,2,26,,,66.3,,,,,,,,,,,,,,,,
600,COM_601,umentioned,1,,,2,23,,,11.8,,160.0,,,,,,,,,,,,,,

In [1691]:
company_transformed['VerticalId'].value_counts()

     283
2    133
1    127
3     58
Name: VerticalId, dtype: int64

### Contact - Target

In [1692]:
# Normalizing company_transformed DataFrame
contact_transformed['CompanyId'] = contact_transformed['CompanyId'].replace(company_dict)
contact_transformed['CoveragePersonId'] = contact_transformed['CoveragePersonId'].replace(employees_dict)
contact_transformed['VerticalId'] = contact_transformed['VerticalId'].replace(verticals_dict)
contact_transformed['SubVerticalId'] = contact_transformed['SubVerticalId'].replace(subverticals_dict)
contact_transformed['PreferredContactMethodId'] = contact_transformed['PreferredContactMethodId'].replace(preferred_contact_method_dict)

In [1693]:
contact_transformed

,Id,ContactName,CompanyId,JobTitle,Email,PrimaryPhoneNumber,SecondaryPhoneNumber,Region,VerticalId,SubVerticalId,Birthday,CoveragePersonId,PreferredContactMethodId,AdditionalDescription,CreatedAt,CreatedBy,UpdatedAt,UpdatedBy
0,CT_001,Aaron Engen,COM_586,"Managing Director, Global Head",Aaron.Engen@BMO.com,403-515-1560,,"Toronto, CA",1,1,1957-05-15,EMP_009,1,,,,,
1,CT_002,Aaron Kaplan,COM_586,Director,aaron.kaplan@credit-suisse.com,312 750-2955,,"Chicago, IL",1,4,1970-07-03 NaT,EMP_002,2,,,,,
2,CT_003,Adam Dzaia,COM_285,Managing Director,aczaia@rwbaird.com,414-298-7358,,"Milwaukee, WI",1,1,1969-05-18 NaT,EMP_006,3,,,,,
3,CT_004,Adam Filkin,,,Adam Filkin@William Blair.com,808-881-5600,,,,,NaT,,,,,,,
4,CT_005,Adam Nordin,COM_361,"Managing Director, Head of Business Services",adam.nordin@barclays.com,312-609-7223,,"Chicago, IL",9,6,1957-10-28,EMP_007,3,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,CT_392,Wes Harrington,COM_159,Director,Wes.Harrington@BMO.com,312-461-6531,,"Chicago, IL",1,4,1966-06-03,EMP_003,2,,,,,
392,CT_393,Whitney Horne,COM_235,Managing Director,WHorne@jefferies.com,,,"New York, NY",1,1,1972-07-22 NaT NaT,EMP_002,1,,,,,
393,CT_394,Will Koo,COM_427,Director,Will.Koo@BMO.com,212-702-1198,,"New York, NY",5,15,1951-01-11,EMP_004,1,,,,,
394,CT_395,Xavier Loriferne,COM_269,Managing Director,xavier.c.loriferne@jpmorgan.com,,,"New York, NY",5,2,1958-04-09,EMP_002,3,,,,,
395,CT_396,Zach Pfanstiel,COM_253,Executive Director,zach.pfanstiel@jpmorgan.com,,,"New York, NY",5,19,1942-03-09,EMP_002,1,,,,,

### Deals - Target

In [1694]:
# Performing some Data Quality
deal_transformed['SourcingId'].replace('Trusted Netwok', 'Trusted Network', inplace=True)
deal_transformed['ActiveStagesId'].replace('New deal', 'New Deal', inplace=True)
deal_transformed['StatusId'].replace('Closed by THL', 'Closed By THL', inplace=True)
deal_transformed['ActiveStagesId'].replace('CIM received', 'CIM Received', inplace=True)

In [1695]:
# Normalizing company_transformed DataFrame
deal_transformed['CompanyId'] = deal_transformed['CompanyId'].replace(company_dict)
deal_transformed['InvestmentBankId'] = deal_transformed['InvestmentBankId'].replace(company_dict)
deal_transformed['BankerId'] = deal_transformed['BankerId'].replace(contact_dict)
deal_transformed['SourcingId'] = deal_transformed['SourcingId'].replace(sourcing_dict)
deal_transformed['TransactionTypeId'] = deal_transformed['TransactionTypeId'].replace(transaction_type_dict)
deal_transformed['StatusId'] = deal_transformed['StatusId'].replace(status_dict)
deal_transformed['ActiveStagesId'] = deal_transformed['ActiveStagesId'].replace(active_stage_dict)
deal_transformed['DealLeadId'] = deal_transformed['DealLeadId'].replace(employees_dict)

In [1696]:
deal_transformed

,Id,DealName,CompanyId,DealDate,InvestmentBankId,BankerId,SourcingId,TransactionTypeId,EstimateEquityInvestment,SaleDate,SalePrice,SaleType,BuyingSponserId,SellingSponserId,StatusId,PortfolioCompanyStatus,ActiveStagesId,PassedRationale,DealLeadId,AdditionalDescription,CreatedAt,CreatedBy,UpdatedAt,UpdatedBy
0,DT_001,,COM_483,2018-02-02,COM_253,,2,2,133.5,,,,,,1,,,,EMP_006,"Electrical testing, maintenance, and commissio...",,,,
1,DT_002,,COM_301,2018-02-02,,,3,2,,,,,,,1,,,,EMP_001,"Provider of comprehensive, turnkey security so...",,,,
2,DT_003,,COM_096,2018-02-02,,,3,2,,,,,,,1,,,,EMP_007,Provider of energy efficiency and demand manag...,,,,
3,DT_004,,COM_401,2018-02-02,COM_066,,2,2,340.0,,,,,,1,,,,EMP_009,Specialty contractor serving the electric powe...,,,,
4,DT_005,,COM_051,2018-02-02,COM_062,,2,2,500.0,,,,,,1,,,,EMP_008,Provider of remanufactured replacement parts t...,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,DT_315,,COM_478,2018-01-17,COM_365,,3,2,,,,,,,6,,3,On hold,EMP_001,Roll-up of dermatology practices / owned by LL...,,,,
315,DT_316,,COM_211,2017-12-01,COM_381,,,,,,,,,,6,,,,EMP_007,Owner and operator of 45 Firebirds branded res...,,,,
316,DT_317,,COM_406,2017-12-01,COM_060,,,,,,,,,,6,,,,EMP_009,Producer and marketer of arts and crafts products,,,,
317,DT_318,,COM_434,2017-12-01,COM_325,,,,,,,,,,6,,,,EMP_008,Direct-to-consumer marketer of women's apparel...,,,,
318,DT_319,Red Hawk,COM_196,2018-01-26,COM_253,CT_159,2,2,,,,,,,6,,,Risk Profile,EMP_005,Largest independent clinical research site ser...,,,,

### Events & Participants - Target

In [1697]:
event_type_dict

{'Conference': 1,
 'Webinar': 2,
 'Offline Event': 3,
 'Roundtable': 4,
 'Networking Event': 5,
 'Workshop': 6,
 'Seminar': 7,
 'Training Session': 8,
 'Product Launch': 9,
 'Trade Show': 10}

In [1698]:
transform_events

,Id,EventName,EventTypeID,Description,Location,EventStatusID,StartDateTime,EndDateTime,AdditionalDescription,CreatedAt,CreatedBy,UpdatedAt,UpdatedBy
0,ET_001,2019 Market Re-Cap,,,,,,,,,,,
1,ET_002,Leaders and Partners Dinner,,,,,,,,,,,

In [1699]:
# Normalizing company_transformed DataFrame
transform_participants['EventID'] = transform_participants['EventID'].replace(events_dict)
transform_participants['RSVPStatusId'] = transform_participants['RSVPStatusId'].replace(rsvp_status_dict)

In [1700]:
transform_participants

         Id    ParticipantID EventID  RSVPStatusId
0    PT_001    Rob Baltimore  ET_002             1
1    PT_002      Brian Lucas  ET_002             2
2    PT_003      Luke Semple  ET_002             3
3    PT_004   Andrew Spitzer  ET_002             4
4    PT_005      Derek Lewis  ET_002             2
..      ...              ...     ...           ...
105  PT_106       Greg Urban  ET_001             3
106  PT_107  Aftab Shahsingh  ET_001             3
107  PT_108     Brendan Ryan  ET_001             3
108  PT_109  Garrett DeNinno  ET_001             3
109  PT_110       Jon Steele  ET_001             3

[110 rows x 4 columns]

### Contact Managament - Target

In [1701]:
# Define the ContactManagement columns
contact_management_columns = [
    "Id",
    "EmployeeId",
    "CompanyID",
    "DealId",
    "ContactID",
    "ContactDateTime",
    "AdditionalDescription"
]

# Create an empty DataFrame
contact_management_df = pd.DataFrame(columns=contact_management_columns)

# Exporting Data Model

In [1702]:
# Exporting main transformed DataFrames
company_transformed.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/company_transformed.csv', index=False)
contact_transformed.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/contact_transformed.csv', index=False)
deal_transformed.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/deal_transformed.csv', index=False)
employees_transformed_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/employees_transformed_df.csv', index=False)
transform_events.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/transform_events.csv', index=False)
transform_participants.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/transform_participants.csv', index=False)
contact_management_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/contact_management.csv', index=False)

# Exporting reference DataFrames
verticals_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/verticals_df.csv', index=False)
subverticals_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/subverticals_df.csv', index=False)
currency_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/currency_df.csv', index=False)
status_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/status_df.csv', index=False)
rsvp_status_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/rsvp_status_df.csv', index=False)
event_status_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/event_status_df.csv', index=False)
preferred_contact_method_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/preferred_contact_method_df.csv', index=False)
event_type_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/event_type_df.csv', index=False)
company_type_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/company_type_df.csv', index=False)
active_stage_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/active_stage_df.csv', index=False)
sourcing_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/sourcing_df.csv', index=False)
TransactionType_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/transformed/TransactionType_df.csv', index=False)