# Import Libraries

In [814]:
import pandas as pd

# Load data

In [815]:
# Load the CSV files into DataFrames
all_verticals_deals_df = pd.read_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/raw/all_vertical_deals.csv')
contacts_df = pd.read_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/raw/contacts.csv')
events_df = pd.read_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/raw/events.csv')
private_equity_companies_df = pd.read_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/raw/private_equity_companies.csv')

# Basic Data Profiling

### All Deals Verticals

In [816]:
# Display the first few rows of each DataFrame to verify the data
all_verticals_deals_df.head()

,Company Name,Project Name,Date Added,Invest. Bank,Banker,Sourcing,Transaction Type,LTM Revenue,LTM EBITDA,2014A EBITDA,...,Current Owner,Business Description,Lead MD,VerticalDepartment,Banker Email,Banker Phone Number,Est. Equity Investment,Portfolio Company Status,Active Stage,Passed Rationale
0,Shermco,NaN,2018-02-02 00:00:00,Harris Williams,NaN,Auction,Sponsor to Sponsor,NaN,NaN,NaN,...,Oaktree,"Electrical testing, maintenance, and commissio...",Jeannie Blackwood,Business Services,NaN,NaN,NaN,NaN,NaN,NaN
1,Kastle Systems,NaN,2018-02-02 00:00:00,NaN,NaN,Trusted Netwok,Sponsor to Sponsor,NaN,NaN,NaN,...,Venturehouse,"Provider of comprehensive, turnkey security so...",Andrew Mah,Business Services,NaN,NaN,NaN,NaN,NaN,NaN
2,CLEAResult,NaN,2018-02-02 00:00:00,NaN,NaN,Trusted Netwok,Sponsor to Sponsor,NaN,NaN,NaN,...,General Atlantic,Provider of energy efficiency and demand manag...,Kripa Shah,Business Services,NaN,NaN,NaN,NaN,NaN,NaN
3,PLH,NaN,2018-02-02 00:00:00,Barclays,NaN,Auction,Sponsor to Sponsor,NaN,NaN,NaN,...,Energy Capital Partners,Specialty contractor serving the electric powe...,Russ Barner,Business Services,NaN,NaN,NaN,NaN,NaN,NaN
4,BBB Industries,NaN,2018-02-02 00:00:00,"Baird, Jefferies",NaN,Auction,Sponsor to Sponsor,NaN,NaN,NaN,...,Pamplona,Provider of remanufactured replacement parts t...,Matthew Kordonowy,Business Services,NaN,NaN,NaN,NaN,NaN,NaN

In [817]:
# Get the number of rows and columns
all_verticals_deals_df.shape

(319, 29)

In [818]:
# Get a list of all the columns in the dataframe
all_verticals_deals_df.columns

Index(['Company Name', 'Project Name', 'Date Added', 'Invest. Bank', 'Banker',
       'Sourcing', 'Transaction Type', 'LTM Revenue', 'LTM EBITDA',
       '2014A EBITDA', '2015A EBITDA', '2016A EBITDA', '2017A/E EBITDA',
       '2018E EBITDA', 'Vertical', 'Sub Vertical', 'Enterprise Value',
       'Equity Investment Est.', 'Status', 'Current Owner',
       'Business Description', 'Lead MD', 'VerticalDepartment', 'Banker Email',
       'Banker Phone Number', 'Est. Equity Investment',
       'Portfolio Company Status', 'Active Stage', 'Passed Rationale'],
      dtype='object')

In [819]:
# List the data types of each column
all_verticals_deals_df.dtypes

Company Name                 object
Project Name                 object
Date Added                   object
Invest. Bank                 object
Banker                       object
Sourcing                     object
Transaction Type             object
LTM Revenue                 float64
LTM EBITDA                  float64
2014A EBITDA                 object
2015A EBITDA                 object
2016A EBITDA                 object
2017A/E EBITDA               object
2018E EBITDA                float64
Vertical                     object
Sub Vertical                 object
Enterprise Value             object
Equity Investment Est.      float64
Status                       object
Current Owner                object
Business Description         object
Lead MD                      object
VerticalDepartment           object
Banker Email                 object
Banker Phone Number          object
Est. Equity Investment      float64
Portfolio Company Status     object
Active Stage                 object
Passed Rationale             object
dtype: object

In [820]:
# Display descriptive statistics for the DataFrame
all_verticals_deals_df.describe()

,LTM Revenue,LTM EBITDA,2018E EBITDA,Equity Investment Est.,Est. Equity Investment
count,8.000000,183.000000,2.000000,52.000000,5.000000
mean,393.275000,66.419277,45.000000,327.095192,421.200000
std,493.155947,77.957506,21.213203,241.386489,295.625946
min,16.200000,-23.000000,30.000000,18.200000,45.000000
25%,65.250000,21.950000,37.500000,138.625000,198.000000
50%,208.600000,41.000000,45.000000,250.000000,494.000000
75%,548.350000,74.500000,52.500000,473.750000,600.000000
max,1490.000000,515.000000,60.000000,1025.000000,769.000000

### Contacts

In [821]:
# Display the first few rows of the contacts DataFrame
contacts_df.head()

,Firm,Name,Title,Group,Sub-Vertical,E-mail,Phone,Secondary Phone,City,Birthday,Coverage Person,Preferred Contact Method
0,Harris Williams,Robert Baltimore,Managing Director,Business Services,Business Services,BBaltimore@harriswilliams.com,(804) 648-0072,NaN,"Richmond, VA",2/25/1966,Hannah Jumper,Email
1,Harris Williams,Brian Lucas,Managing Director,Business Services,Business Services,blucas@harriswilliams.com,(804) 648-0072,NaN,"Richmond, VA",9/3/1953,Kripa Shah,Business Phone
2,Harris Williams,Luke Semple,Managing Director,Business Services,Business Services,lsemple@harriswilliams.com,(804) 648-0072,NaN,"Richmond, VA",3/27/1962,Emily Royal,Cell Phone
3,Harris Williams,Drew Spitzer,Managing Director,Business Services,Business Services,aspitzer@harriswilliams.com,(804) 648-0072,NaN,"Richmond, VA",4/28/1964,Russ Barner,Business Phone
4,Harris Williams,Derek Lewis,Managing Director,Business Services,Business Services,dlewis@harriswilliams.com,(804) 648-0072,NaN,"Richmond, VA",4/24/1971,Daniel Ding,Cell Phone

In [822]:
# Get the number of rows and columns in the contacts DataFrame
contacts_df.shape

(311, 12)

In [823]:
# Get a list of all the columns in the contacts DataFrame
contacts_df.columns

Index(['Firm', 'Name', 'Title', 'Group', 'Sub-Vertical', 'E-mail', 'Phone',
       'Secondary Phone', 'City', 'Birthday', 'Coverage Person',
       'Preferred Contact Method'],
      dtype='object')

In [824]:
# List the data types of each column in the contacts DataFrame
contacts_df.dtypes

Firm                        object
Name                        object
Title                       object
Group                       object
Sub-Vertical                object
E-mail                      object
Phone                       object
Secondary Phone             object
City                        object
Birthday                    object
Coverage Person             object
Preferred Contact Method    object
dtype: object

In [825]:
# Display descriptive statistics for the DataFrame
contacts_df.describe()

,Firm,Name,Title,Group,Sub-Vertical,E-mail,Phone,Secondary Phone,City,Birthday,Coverage Person,Preferred Contact Method
count,311,311,311,311,311,311,285,7,311,311,311,311
unique,25,311,86,9,23,311,280,7,15,307,6,3
top,Morgan Stanely,Robert Baltimore,Managing Director,Financial Services,Business Services,BBaltimore@harriswilliams.com,(804) 648-0072,(917) 304-8472,"New York, NY",2/24/1956,Hannah Jumper,Cell Phone
freq,30,1,158,139,48,1,6,1,228,2,55,155

### Events

In [826]:
# Display the first few rows of the events DataFrame
events_df.head()

,Name,E-mail,Attendee Status,EventType
0,Rob Baltimore,BBaltimore@harriswilliams.com,RSVP'd,Leaders and Partners Dinner
1,Brian Lucas,blucas@harriswilliams.com,Declined,Leaders and Partners Dinner
2,Luke Semple,lsemple@harriswilliams.com,Checked In,Leaders and Partners Dinner
3,Andrew Spitzer,aspitzer@harriswilliams.com,No Show,Leaders and Partners Dinner
4,Derek Lewis,dlewis@harriswilliams.com,Declined,Leaders and Partners Dinner

In [827]:
# Get the number of rows and columns in the events DataFrame
events_df.shape

(110, 4)

In [828]:
# Get a list of all the columns in the events DataFrame
events_df.columns

Index(['Name', 'E-mail', 'Attendee Status', 'EventType'], dtype='object')

In [829]:
# List the data types of each column in the events DataFrame
events_df.dtypes

Name               object
E-mail             object
Attendee Status    object
EventType          object
dtype: object

In [830]:
# Display descriptive statistics for the DataFrame
events_df.describe()

,Name,E-mail,Attendee Status,EventType
count,110,110,110,110
unique,71,71,4,2
top,Jeff Pranaitis,JPranaitis@jefferies.com,Checked In,Leaders and Partners Dinner
freq,2,2,46,71

### Private Equity Companies

In [831]:
# Display the first few rows of the private equity companies DataFrame
private_equity_companies_df.head()

,Priority,Company Name,Website,AUM\n(Bns),Sectors,Sample Portfolio Companies,Contact Name 1,Contact 2,Comments
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,AEA Investors LP,www.aeainvestors.com,10.0,- Consumer products\n- Industrial,- Traeger (Current)\n- Barnet (Cosmetic),"Martin Eltrich, III, Partner",NaN,NaN
2,NaN,Audax Private Equity,www.audaxprivateequity.com,11.5,- Industrial,- Chem Specialty Chemicals,"Christopher Satti, Business Dev\n(857) 294-6640",NaN,- We have experience with specialty chemicals ...
3,NaN,CCMP Capital,www.ccmpcapital.com,12.0,- Consumer products\n- Industrial,- Jetro Cash & Carry\n- Shoes for Crews,Richard Zannino,Will Jaudes \nPrincipal,- Are big on Consumer and industrial
4,NaN,Clayton Dubilier & Rice,www.cdr-inc.com,18.0,- Consumer products\n- Industrial,- Roofing Supply Group\n- US Foods\n- HD Supply,NaN,NaN,NaN

In [832]:
# Get the number of rows and columns in the private equity companies DataFrame
private_equity_companies_df.shape

(21, 9)

In [833]:
# Get a list of all the columns in the private equity companies DataFrame
private_equity_companies_df.columns

Index(['Priority', 'Company Name', 'Website', 'AUM\n(Bns)', 'Sectors',
       'Sample Portfolio Companies', 'Contact Name 1', 'Contact 2',
       'Comments'],
      dtype='object')

In [834]:
# List the data types of each column in the private equity companies DataFrame
private_equity_companies_df.dtypes

Priority                      float64
Company Name                   object
Website                        object
AUM\n(Bns)                    float64
Sectors                        object
Sample Portfolio Companies     object
Contact Name 1                 object
Contact 2                      object
Comments                       object
dtype: object

In [835]:
# Display descriptive statistics for the DataFrame
private_equity_companies_df.describe()

       Priority  AUM\n(Bns)
count       0.0   20.000000
mean        NaN    8.915000
std         NaN    4.997186
min         NaN    2.000000
25%         NaN    5.150000
50%         NaN    8.750000
75%         NaN   11.625000
max         NaN   20.000000

# Initial Data Cleansing

In [836]:
# Fill NaN values with empty strings
all_verticals_deals_df = all_verticals_deals_df.fillna('')
contacts_df = contacts_df.fillna('')
events_df = events_df.fillna('')
private_equity_companies_df = private_equity_companies_df.fillna('')

# Export DataFrame for Transformation

In [837]:
%store all_verticals_deals_df
%store contacts_df
%store events_df
%store private_equity_companies_df

Stored 'all_verticals_deals_df' (DataFrame)
Stored 'contacts_df' (DataFrame)
Stored 'events_df' (DataFrame)
Stored 'private_equity_companies_df' (DataFrame)